<div class="card" *ngFor="let card of listCards">
    <div class="card--title">{{ card.title }}</div> <!--- {{ title }}  -->
    <div class="graph">graph {{ card.id }}</div> <!--- img  -->
    <div class="card--graph-data">
        <h3 class="title">Title shape</h3>
    <div><form [formGroup]="datatForm">
        <label for="more">bigger: </label>
        <input id="more" min="1" max="100" value="50" type="range" formControlName="bigger">
      
        <label for="less">smaller: </label>
        <input id="less" min="1" max="100" value="50" type="range" formControlName="smaller">

        <label for="check" style="display: block;">shape 1</label>
        <input id="checkbox" type="checkbox" formControlName="checker">
      
      </form></div>
    </div> <!--- form  -->
</div>
