/* You can add global styles to this file, and also import other style files */
* { 
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
=======
:root{
	--background-color:#fff;
	--foreground-color:#333;
	
	--primary-10:hsl(230, 50%, 10%);
	--primary-20:hsl(230, 50%, 20%);
	--primary-30:hsl(230, 50%, 30%);
	--primary-40:hsl(230, 50%, 40%);
	--primary-50:hsl(230, 50%, 50%);
	--primary-60:hsl(230, 50%, 60%);
	--primary-70:hsl(230, 50%, 70%);
	--primary-80:hsl(230, 50%, 80%);
	--primary-90:hsl(230, 50%, 90%);
	--primary-95:hsl(230, 50%, 95%);
	--primary-99:hsl(230, 50%, 99%);

	--margin-xl:2em;
	--margin-l:1.5em;
	--margin-m:1em;
	--margin-s:0.5em;
	--margin-xs:0.25em;

	--border-radius:var(--margin-xl);
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: var(--foreground-color);

	min-height:100dvh;
    box-sizing: border-box;
	
    font-size: 14px;
	line-height:1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	display:flex;
	flex-direction: column;
}

h1,h2,h3,h4{
	font-weight:700;
}

h1{
	font-size:4em;
	color:var(--primary-90);
}

h2{
	font-size:2.5em;
	color:var(--primary-70);
}

h3{
	font-size:1.5em;
	color:var(--primary-50);
}

h4{
	font-size:0.8em;
	text-transform: uppercase;
}

em{
	font-weight:700;
}

header{
	height:4em;
	background-color:var(--primary-90);
}

.header-content{
	display: flex;
	flex-direction: row;
	height:100%;
	justify-content: space-between;
	align-items: center;

}

.brand,
.nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:1em;
}

.brand-img,
.user-img{
	height:3em;
	width:3em;
	background-color: var(--primary-30);
	border-radius:50%;
}

.brand-name{
	font-size:1.5em;
	font-weight:700;
	color:var(--primary-30);
}

.wrapper{
	height:100%;
	max-width:100em;
	margin: 0 auto;
	padding-inline:1em;
}

footer{
	padding-block:2em;
	background-color:var(--primary-90);
	font-size:0.8em;
}

.footer-content{
	display:flex;
	flex-direction:column;
	align-items: center;
	gap:1em;
}

main{
	flex-grow: 1;
	padding: 2em 1em;
	background-color:var(--primary-99);
}

.dashboard{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	gap:1em;
}

.card{
	background-color:rgb(177, 177, 177);
	aspect-ratio:1 / 1;
	padding:1em;
	box-shadow: 0em 0.1em 0.25em var(--primary-80);
	border-radius:1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: .5mm solid gray;
}

.card--title{
	font-weight:700;
	font-size:1.5em;
	color: var(--primary-50);
}

.graph{
	flex-grow:1;
}
