/* You can add global styles to this file, and also import other style files */
:root{
	
	--primary-10:hsl(230, 50%, 10%);
	--primary-20:hsl(230, 50%, 20%);
	--primary-30:hsl(230, 50%, 30%);
	--primary-40:hsl(230, 50%, 40%);
	--primary-50:hsl(230, 50%, 50%);
	--primary-60:hsl(230, 50%, 60%);
	--primary-70:hsl(230, 50%, 70%);
	--primary-80:hsl(230, 50%, 80%);
	--primary-90:hsl(230, 50%, 90%);
	--primary-95:hsl(230, 50%, 95%);
	--primary-99:hsl(230, 50%, 99%);

	--margin-xl:2em;
	--margin-l:1.5em;
	--margin-m:1em;
	--margin-s:0.5em;
	--margin-xs:0.25em;

	--border-radius:var(--margin-xl);

	--background-color:#fff;
	--foreground-color:var(--dark-100);

	  /* COLORS */
  --dark-100:rgba(0,46,61,1);
  --dark-075:rgba(0,46,61,0.75);
  --dark-050:rgba(0,46,61,0.5);
  --dark-025:rgba(0,46,61,0.25);
  --dark-010:rgba(0,46,61,0.1);

  --white-100:rgba(255,255,255,1);

  --blue-100:rgba(0,142,189,1);
  --blue-075:rgba(0,142,189,0.75);
  --blue-050:rgba(0,142,189,0.5);
  --blue-025:rgba(0,142,189,0.25);
  --blue-010:rgba(0,142,189,.1);
  --red-100:rgba(189,47,0,1);
  --yellow-100:rgb(231,215,24,1);
  
  --primary-100:var(--dark-100);
  --primary-075:var(--dark-075);
  --primary-050:var(--dark-050);
  --primary-025:var(--dark-025);
  --primary-010:var(--dark-010);
  --complementary-100:var(--red-100);

  /* SIZES */
  --size-400: 4rem;
  --size-300: 3rem;
  --size-200: 2rem;
  --size-150: 1.5rem;
  --size-125: 1.25rem;
  --size-100: 1rem;
  --size-075: 0.75rem;
  --size-050: 0.5rem;
  --size-025: 0.25rem;
  --size-010: 0.125rem;
  --size-005: 0.0625rem; /* @16px = 1px*/

  --border-radius-050: var(--size-050);

    /* timing */
    --time-100: 500ms;
    --time-050: 250ms;

	/* FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
	--font-heading:'Inter', sans-serif;
	--font-body:'Inter', sans-serif;
}

* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--dark-100);
	min-height:100dvh;
    box-sizing: border-box;
    font-size: 16px;
	line-height:1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	display:flex;
	flex-direction: column;
}

h1,h2,h3,h4{
	font-weight:700;
}

em{
	font-weight:700;
}

header{
	height:4em;
	background-color:var(--primary-90);
}

.header-content{
	display: flex;
	flex-direction: row;
	height:100%;
	justify-content: space-between;
	align-items: center;

}

.brand,
.nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:1em;
}

.brand-img,
.user-img{
	height:3em;
	width:3em;
	background-color: var(--primary-30);
	border-radius:50%;
}

.brand-name{
	font-size:1.5em;
	font-weight:700;
	color:var(--primary-30);
}

.wrapper{
	height:100%;
	max-width:100em;
	margin: 0 auto;
	padding-inline:1em;
}

footer{
	padding-block:2em;
	background-color:var(--primary-90);
	font-size:0.8em;
}

.footer-content{
	display:flex;
	flex-direction:column;
	align-items: center;
	gap:1em;
}

main{
	flex-grow: 1;
	padding: 2em 1em;
	background-color:var(--primary-99);
}

.dashboard{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	gap:1em;
}

.card{
	background-color:rgb(177, 177, 177);
	aspect-ratio:1 / 1;
	padding:1em;
	box-shadow: 0em 0.1em 0.25em var(--primary-80);
	border-radius:1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: .5mm solid gray;
}

.card--title{
	font-weight:700;
	font-size:1.5em;
	color: var(--primary-50);
}

.graph{
	flex-grow:1;
}
